* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.container{
    width: 400px;
}

.islemler {
    display: flex;
    justify-content: space-around;
}

.islemler .btn {
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-size: 20xp;
    border: 1px solid rgba(59, 191, 196, 0.507);
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.butonlar {
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    height: 300px;
    width: 400px;
    border: 1px solid #fdfdfd5e;
}

.kare {
    width: 75px;
    height: 75px;
    display: grid;
    border: 1px solid #1111114d;
    border-radius: 10px;
    box-shadow: 5px 7px 5px 7px rgba(37, 19, 19, 0.5);
    place-items: center;
    border: 1px solid black;
    cursor: pointer;
}

.kare .sayi {
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
}

/* Nasıl Oynanır Bölümü */
.nasil-oynanir {
    display: none;
    margin-top: 50px;
}

.nasil-oynanir h3 {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.nasil-oynanir p {
    margin-top: 10px;
    font-size: 16px;
    letter-spacing: 1px;
}